
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 135rem;
}.group-9-eoU {
  width: 100%;
  height: 81rem;

  .macbook-pro-14-1-eBC {
    box-sizing: border-box;
    padding: 1.1rem 0rem 0.8rem 0rem;
    width: 100%;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;

    .auto-group-xqfx-qQ6 {
      flex-shrink: 0;
      margin: 0rem 2.1rem 1.7rem 2.1rem;
      width: calc(100% - 4.2rem);
      display: flex;
      align-items: flex-end;

      .logo-sp-pnj-1-Kq4 {
        height: 15rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.1rem;
        width: 16.9rem;
      }
      .auto-group-ecev-d54 {
        margin-bottom: 0.4rem;
        width: 110.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-zwke-AKt {
          width: 100%;
          height: 2.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-6-V7G {
            margin-right: 3.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-1-anv {
              border-radius: 0.4rem;
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 0.8rem;
              height: 0.8rem;
              background-color: #fccf02;
            }
            .meilleur-rapport-qualite-prix-UNW {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-7-wG6 {
            margin-right: 3.3rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2-tSE {
              flex-shrink: 0;
              margin-right: 0.6rem;
              width: 0.8rem;
              height: 0.8rem;
              background-color: #fccf02;
              border-radius: 0.4rem;
            }
            .livraison-gratuite-DUW {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
          .group-8-vti {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 3.1rem;

            .ellipse-3-UQS {
              margin-right: 0.6rem;
              width: 0.8rem;
              height: 0.8rem;
              background-color: #fccf02;
              border-radius: 0.4rem;
              flex-shrink: 0;
            }
            .large-gamme-de-produit-imprimer-ohc {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .group-10-uke {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-4-UHx {
              margin-right: 0.7rem;
              width: 0.8rem;
              height: 0.8rem;
              background-color: #fccf02;
              border-radius: 0.4rem;
              flex-shrink: 0;
            }
            .plus-de-100-clients-satisfaits-12z {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-b9te-8NW {
          padding: 2rem 0rem 0rem 0.1rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-6khg-Stz {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            width: 100%;
            height: 4rem;

            .auto-group-5trz-B5t {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.6rem 3.7rem 0.4rem 0rem;

              .group-15-una {
                box-sizing: border-box;
                flex-shrink: 0;
                height: 100%;
                display: flex;
                align-items: center;
                border: solid 0.1rem #000000;
                border-radius: 0.5rem;
                margin-right: 4.3rem;
                padding: 0.5rem 0.9rem 0.5rem 1.6rem;

                .rechercher-un-produit-ou-une-information-Rkv {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0.1rem 12.2rem 0rem 0rem;
                  font-size: 1.5rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.8299999833);
                }
                .icons8search16px-1-iV8 {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 2rem;
                  object-fit: cover;
                }
              }
              .group-14-nE6 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 0.3rem;

                .icons8worldwidelocation50px1-1-vr6 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                  width: 2.5rem;
                  height: 2.5rem;
                  object-fit: cover;
                }
                .burkina-faso-qCN {
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  font-size: 1.8rem;
                  font-weight: 700;
                }
              }
            }
            .group-13-x26 {
              border-radius: 0.3rem;
              flex-shrink: 0;
              margin-right: 3.4rem;
              width: 6.8rem;
              height: 100%;
              position: relative;
              background-color: rgba(252, 207, 2, 0.4699999988);

              .icons8shoppingcart32px-1-HaA {
                object-fit: contain;
                vertical-align: top;
                width: 4rem;
                height: 3.3rem;
                position: absolute;
                left: 0.4rem;
                top: 0.3rem;
              }
              .item--nmp {
                height: 1.5rem;
                position: absolute;
                top: 1.9rem;
                font-weight: 400;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                width: 1rem;
                left: 4.1rem;
                font-size: 1.2rem;
                color: #000000;
                white-space: nowrap;
              }
            }
            .group-12-Td4 {
              margin-right: 1.7rem;
              width: 15.3rem;
              height: 100%;
              position: relative;
              border-radius: 0.3rem;
              flex-shrink: 0;

              .rectangle-6-bzA {
                width: 13.8rem;
                height: 4rem;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 0.3rem;
              }
              .rectangle-8-YPc {
                width: 13.8rem;
                height: 4rem;
                position: absolute;
                left: 1.5rem;
                top: 0;
                background-color: #0f1e61;
                border-radius: 0.3rem;
              }
              .se-connecter-U2N {
                width: 10.3rem;
                position: absolute;
                top: 1.1rem;
                line-height: 1.2125;
                color: #fccf02;
                white-space: nowrap;
                height: 2rem;
                left: 3.3rem;
                font-size: 1.6rem;
                font-weight: 600;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .group-11-xiE {
              line-height: 1.2125;
              color: #0f1e61;
              white-space: nowrap;
              box-sizing: border-box;
              border-radius: 0.3rem;
              font-weight: 600;
              border: solid 0.2rem #0f1e61;
              width: 13.8rem;
              height: 100%;
              font-size: 1.6rem;
              align-items: center;
              flex-shrink: 0;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              justify-content: center;
            }
          }
          .votre-platforme-dimprimerie-en-afique-pVY {
            margin-right: 4.8rem;
            font-size: 1.6rem;
            font-weight: 900;
            font-style: italic;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.2125;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-sbzc-Vra {
      background-color: rgba(252, 207, 2, 0.4699999988);
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      box-sizing: border-box;
      padding: 1.4rem 2rem 1.5rem 1.7rem;
      width: 135.3rem;
      display: flex;
      align-items: center;

      .tous-nos-produits-BjQ {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2rem;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
      }
      .flyers-UyQ {
        font-weight: 700;
        line-height: 1.2125;
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2rem;
        font-size: 1.7rem;
      }
      .carte-de-visite-MnJ {
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.2rem;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .kakemonos-HAA {
        margin-right: 2.5rem;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .blocs-notes-oPQ {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.8rem;
      }
      .mugs-tasses-Jqx {
        margin-right: 2.7rem;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .gourdes-DCE {
        font-weight: 700;
        line-height: 1.2125;
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.1rem;
        font-size: 1.7rem;
      }
      .polos-Wh8 {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.1rem;
      }
      .t-shirts-qUW {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.8rem;
      }
      .service-graphique-kbU {
        color: #e50000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.6rem;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .centre-daide-fTY {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0f1e61;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-qcjc-Ncr {
      width: 137.9rem;
      height: 56.7rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-2-h9L {
        left: 0;
        top: 0;
        background-color: #0f1e61;
        width: 135rem;
        height: 56.7rem;
        position: absolute;
      }
      .auto-group-2dej-pUr {
        width: 76.6rem;
        height: 56.7rem;
        position: absolute;
        left: 61.3rem;
        top: 0;

        .cartes-promo-1-w3g {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 73.7rem;
          height: 56.7rem;
          position: absolute;
          left: 0;
        }
        .frame-5-RjY {
          top: 43.9rem;
          overflow: hidden;
          width: 10rem;
          height: 10rem;
          position: absolute;
          left: 66.6rem;
        }
      }
      .auto-group-duyc-LLi {
        width: 39rem;
        height: 26.7rem;
        position: absolute;
        left: 7.7rem;
        top: 13.9rem;

        .pour-ce-mois-uniquement-2DY {
          margin: 0rem 0rem 1.6rem 0.4rem;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .de-reduction-sur-tous-nos-cartes-de-visite-haa {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #fccf02;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 0rem 2.2rem 0.4rem;
          max-width: 38.6rem;
        }
        .group-16-PCW {
          border-radius: 0.8rem;
          font-size: 2.3rem;
          font-weight: 700;
          color: #0f1e61;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          width: 14.9rem;
          height: 5.2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          background-color: #fccf02;
        }
      }
    }
  }
}
