
html {
	font-size:62%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
  display: flex;
}
input {
	border: none;
}
body {
  width: 135rem;
}

.group-9-eoU {
  width: 100%;
  height: 81rem;
}
a{
  text-decoration: none;
  color: #0f1e61;
}

.group-9-eoU .macbook-pro-14-1-eBC {
  box-sizing: border-box;
  padding: 1.1rem 0rem 0.8rem 0rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 {
  margin: 0rem 2.1rem 1.7rem 2.1rem;
  width: calc(100% - 4.2rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .logo-sp-pnj-1-Kq4 {
  margin-right: 3.1rem;
  width: 16.9rem;
  height: 15rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
  cursor: pointer;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 {
  margin-bottom: 0.4rem;
  width: 110.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt {
  width: 100%;
  height: 2.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-6-V7G {
  margin-right: 3.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-6-V7G .ellipse-1-anv {
  margin-right: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fccf02;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-6-V7G .meilleur-rapport-qualite-prix-UNW {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-7-wG6 {
  margin-right: 3.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-7-wG6 .ellipse-2-tSE {
  margin-right: 0.6rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fccf02;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-7-wG6 .livraison-gratuite-DUW {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-8-vti {
  margin-right: 3.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-8-vti .ellipse-3-UQS {
  margin-right: 0.6rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fccf02;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-8-vti .large-gamme-de-produit-imprimer-ohc {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-10-uke {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-10-uke .ellipse-4-UHx {
  margin-right: 0.7rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fccf02;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-zwke-AKt .group-10-uke .plus-de-100-clients-satisfaits-12z {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW {
  box-sizing: border-box;
  padding: 2rem 0rem 0rem 0.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .auto-group-5trz-B5t {
  box-sizing: border-box;
  padding: 0.6rem 3.7rem 0.4rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .auto-group-5trz-B5t .group-15-una {
  margin-right: 4.3rem;
  box-sizing: border-box;
  padding: 0.5rem 0.9rem 0.5rem 3.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .auto-group-5trz-B5t .group-15-una .rechercher-un-produit-ou-une-information-Rkv {
  margin: 0.1rem 12.2rem 0rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.8299999833);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .auto-group-5trz-B5t .group-15-una .rechercher-un-produit-ou-une-information-Rkv:focus{
  outline: none;
}

.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .auto-group-5trz-B5t .group-15-una .icons8search16px-1-iV8 {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .auto-group-5trz-B5t .group-14-nE6 {
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .auto-group-5trz-B5t .group-14-nE6 .icons8worldwidelocation50px1-1-vr6 {
  margin-right: 0.4rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .auto-group-5trz-B5t .group-14-nE6 .burkina-faso-qCN {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-13-x26 {
  margin-right: 3.4rem;
  width: 6.8rem;
  height: 100%;
  position: relative;
  background-color: rgba(252, 207, 2, 0.4699999988);
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-13-x26 .icons8shoppingcart32px-1-HaA {
  width: 4rem;
  height: 3.3rem;
  position: absolute;
  left: 0.4rem;
  top: 0.3rem;
  object-fit: contain;
  vertical-align: top;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-13-x26 .item--nmp {
  width: 1rem;
  height: 1.5rem;
  position: absolute;
  left: 4.1rem;
  top: 1.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-12-Td4 {
  margin-right: 1.7rem;
  width: 15.3rem;
  height: 100%;
  position: relative;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-12-Td4 .rectangle-6-bzA {
  width: 13.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.3rem;
  cursor: pointer;

}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-12-Td4 .rectangle-8-YPc {
  width: 13.8rem;
  height: 4rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  background-color: #0f1e61;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  justify-items: center;

}

.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-12-Td4 .rectangle-8-YPc:hover {
    background: white;
    color: #0f1e61;
    border: 2px solid #0f1e61;
    transform: scale(1.05);
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-12-Td4 .rectangle-8-YPc:hover .se-connecter-U2N{
    color: #0f1e61;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-12-Td4 .se-connecter-U2N {
  width: 10.3rem;
  height: 2rem;
  position: absolute;
  left: 2.3rem;
  top: 1.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #fccf02;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-11-xiE {
  width: 13.8rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #0f1e61;
  box-sizing: border-box;
  border-radius: 0.3rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-11-xiE:hover{
    background: #0f1e61;
    color: #fccf02;
    transform: scale(1.05);
}

.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .auto-group-6khg-Stz .group-11-xiE:hover a{
    color: #fccf02;
}

.group-9-eoU .macbook-pro-14-1-eBC .auto-group-xqfx-qQ6 .auto-group-ecev-d54 .auto-group-b9te-8NW .votre-platforme-dimprimerie-en-afique-pVY {
  margin-right: 4.8rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2125;
  font-style: italic;
 color: #0f1e61 ;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra {
  margin-bottom: 0.7rem;
  position: relative; 
  box-sizing: border-box;
  padding: 1.4rem 2rem 1.5rem 1.7rem;
  width: 135.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fccf0278;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra a:hover{
  border-bottom: 2px solid #0f1e61;
  
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .tous-nos-produits-BjQ {
  margin-right: 3rem; 
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .dropdown .dropdown-menu{
  display: none;
  position: relative;
  margin-top: 0.8rem;
  background: #fcce02;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #0f1e61;
  border-radius: 0.5rem;
  font-size: 17px;
  z-index: 2;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .dropdown-menu li a{
  margin: 1rem;
}

.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .dropdown .tous-nos-produits-BjQ:hover .dropdown .dropdown-menu li{
  display: block;
  z-index: 2;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .flyers-UyQ {
  margin-right: 2.7rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .carte-de-visite-MnJ {
  margin-right: 2.9rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .kakemonos-HAA {
  margin-right: 3rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .blocs-notes-oPQ {
  margin-right: 3.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .mugs-tasses-Jqx {
  margin-right: 3.4rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .gourdes-DCE {
  margin-right: 3.8rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .polos-Wh8 {
  margin-right: 3.8rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .t-shirts-qUW {
  margin-right: 2.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .service-graphique-kbU {
  margin-right: 2.3rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #e50000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .service-graphique-kbU:hover{
  border-bottom: 2px solid #e50000;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-sbzc-Vra .centre-daide-fTY {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr {
  width: 137.9rem;
  height: 56.7rem;
  position: relative;
  flex-shrink: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .rectangle-2-h9L {
  width: 135rem;
  height: 56.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0f1e61;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .auto-group-2dej-pUr {
  width: 76.6rem;
  height: 56.7rem;
  position: absolute;
  left: 61.3rem;
  top: 0;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .auto-group-2dej-pUr .cartes-promo-1-w3g {
  width: 73.7rem;
  height: 56.7rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .auto-group-2dej-pUr .frame-5-RjY {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 66.6rem;
  top: 43.9rem;
  overflow: hidden;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .auto-group-duyc-LLi {
  width: 39rem;
  height: 26.7rem;
  position: absolute;
  left: 7.7rem;
  top: 13.9rem;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .auto-group-duyc-LLi .pour-ce-mois-uniquement-2DY {
  margin: 0rem 0rem 1.6rem 0.4rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .auto-group-duyc-LLi .de-reduction-sur-tous-nos-cartes-de-visite-haa {
  margin: 0rem 0rem 2.2rem 0.4rem;
  max-width: 38.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #fccf02;
  font-family: Inter, 'Source Sans Pro';
}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .auto-group-duyc-LLi .group-16-PCW {
  width: 14.9rem;
  height: 5.2rem;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0f1e61;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fccf02;
  border-radius: 0.8rem;
  transition: all 0.3s ease;

}
.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .auto-group-duyc-LLi .group-16-PCW:hover {
    background: #0f1e61;
    color:  #fcce02;
    transform: scale(1.05);
    border: 2px solid #fcce02;

}

.group-9-eoU .macbook-pro-14-1-eBC .auto-group-qcjc-Ncr .auto-group-duyc-LLi .group-16-PCW:hover a{
  color: #fcce02;
}
